<div>
    <div>
      <label>CarBrand:</label>
      <input [(ngModel)]="car.brand" id="brand" type="text" required />
    </div>
    <div>
      <label>Type:</label>
      <input [(ngModel)]="car.type" id="type" type="text" required />
    </div>
    <div>
        <label>Colour:</label>
        <input [(ngModel)]="car.colour" id="colour" type="text" required />
      </div>
    <div>
      <label>Fuel:</label>
      <input [(ngModel)]="car.fuel" id="fuel" type="text" required />
    </div>
    <button type="button" (click)="back()">Vissza</button>
    <button type="button" (click)="addCar()">Hozzáadás</button>
  </div>
  <div>
    <strong> {{uzenet}}</strong>
  </div>

