<div>
    <div>
      <label>UserName:</label>
      <input [(ngModel)]="user.username" id="username" type="text" required />
    </div>
    <div>
      <label>Password:</label>
      <input [(ngModel)]="user.password" id="password" type="password" required />
    </div>
    <div>
      <label>Birthdate:</label>
      <input [(ngModel)]="user.birthdate" id="birthdate" type="date" required />
    </div>
    <button type="button" (click)="back()">Vissza</button>
    <button type="button" (click)="registration()">Regisztráció</button>
  </div>
  <div>
    <strong> {{uzenet}}</strong>
  </div>

